<% include partials/header %>
<div class="siteContainer">
	<div class="topSection"><h1><%=error%></h1></div>
	<div class="topMenu">
		<ul>
			<li id="siteTitle"><%=title%></li>
		</ul>
	</div>
</div>
<% include partials/footer %>